/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#wordle-container {
    text-align: center;
}

.word-row {
    display: flex;
    margin-bottom: 5px;
}

.word-cell {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    margin-right: 5px;
}

#feedback {
    margin-top: 10px;
}
